pipeline/Download FTP.json
{
	"name": "Download FTP",
	"properties": {
		"description": "Baixar dados do FTP",
		"activities": [
			{
				"name": "DefineListaAnos",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Years",
					"value": {
						"value": "@range(2018,2)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "DefineListaAnos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('Years')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['value'][0]['cotacaoCompra']"
											},
											"sink": {
												"type": "Double",
												"ordinal": 1
											}
										},
										{
											"source": {
												"path": "$['value'][0]['cotacaoVenda']"
											},
											"sink": {
												"type": "Double",
												"ordinal": 2
											}
										},
										{
											"source": {
												"path": "$['value'][0]['dataHoraCotacao']"
											},
											"sink": {
												"type": "String",
												"ordinal": 3
											}
										}
									],
									"collectionReference": ""
								}
							},
							"inputs": [
								{
									"referenceName": "BCB_Obtem_cotacao_Dolar",
									"type": "DatasetReference",
									"parameters": {
										"year": {
											"value": "@string(item())",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "vcdatalake_ingest_csv",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@concat(string(item()), '.csv')",
											"type": "Expression"
										},
										"folder": "bcb"
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"Years": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}