pipeline/Download FTP.json
{
	"name": "Download FTP",
	"properties": {
		"description": "Baixar dados do FTP",
		"activities": [
			{
				"name": "DefineListaAnos",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Years",
					"value": {
						"value": "@range(2018,2)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "DefineListaAnos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('Years')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									}
								},
								"sink": {
									"type": "JsonSink",
									"formatSettings": {
										"type": "JsonWriteSettings",
										"quoteAllText": true
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "BCB_Obtem_cotacao_Dolar",
									"type": "DatasetReference",
									"parameters": {
										"year": {
											"value": "@string(item())",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "BCB_Obtem_cotacao_Dolar",
									"type": "DatasetReference",
									"parameters": {
										"year": "@string(item())"
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"Years": {
				"type": "Array",
				"defaultValue": [
					"2018",
					""
				]
			}
		},
		"annotations": []
	}
}