vc-datafactory/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "vc-datafactory"
		},
		"vcdatalake_g2_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'vcdatalake_g2'"
		},
		"httpBCBDolar2018_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": " https://olinda.bcb.gov.br"
		},
		"http_bcb_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": " https://olinda.bcb.gov.br/"
		},
		"vcdatalake_g2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://vcdatalake.dfs.core.windows.net"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/httpBCBDolar2018')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Cotação do dolar de 2018",
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('httpBCBDolar2018_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/http_bcb')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Obtendo dados do BCB",
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('http_bcb_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/vcdatalake_g2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('vcdatalake_g2_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('vcdatalake_g2_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BCB_Obtem_cotacao_Dolar')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "http_bcb",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"year": {
						"type": "string",
						"defaultValue": "2019"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": {
							"value": "olinda/servico/PTAX/versao/v1/odata/CotacaoDolarPeriodo(dataInicial=@dataInicial,dataFinalCotacao=@dataFinalCotacao)?@dataInicial='01-01-@{dataset().year}'&@dataFinalCotacao='12-31-@{dataset().year}'&$top=10000&$format=json&$select=cotacaoCompra,cotacaoVenda,dataHoraCotacao",
							"type": "Expression"
						}
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"odata.context": {
							"type": "string"
						},
						"value": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"cotacaoCompra": {
										"type": "number"
									},
									"cotacaoVenda": {
										"type": "number"
									},
									"dataHoraCotacao": {
										"type": "string"
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/http_bcb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/vcdatalake_ingest_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Ingest CSV no datalake",
				"linkedServiceName": {
					"referenceName": "vcdatalake_g2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string"
					},
					"folder": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().folder",
							"type": "Expression"
						},
						"fileSystem": "ingest"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/vcdatalake_g2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Download FTP')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Baixar dados do FTP",
				"activities": [
					{
						"name": "DefineListaAnos",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "Years",
							"value": {
								"value": "@range(2018,2)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "DefineListaAnos",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('Years')",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ""
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "[['dataHoraCotacao']"
													},
													"sink": {
														"name": "dataHoraCotacao",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['cotacaoCompra']"
													},
													"sink": {
														"name": "cotacaoCompra",
														"type": "Double"
													}
												},
												{
													"source": {
														"path": "[['cotacaoVenda']"
													},
													"sink": {
														"name": "cotacaoVenda",
														"type": "Double"
													}
												}
											],
											"collectionReference": "$['value']"
										}
									},
									"inputs": [
										{
											"referenceName": "BCB_Obtem_cotacao_Dolar",
											"type": "DatasetReference",
											"parameters": {
												"year": {
													"value": "@string(item())",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "vcdatalake_ingest_csv",
											"type": "DatasetReference",
											"parameters": {
												"filename": {
													"value": "@concat(string(item()), '.csv')",
													"type": "Expression"
												},
												"folder": "bcb"
											}
										}
									]
								}
							]
						}
					}
				],
				"variables": {
					"Years": {
						"type": "Array"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/BCB_Obtem_cotacao_Dolar')]",
				"[concat(variables('factoryId'), '/datasets/vcdatalake_ingest_csv')]"
			]
		}
	]
}